<footer class="site-footer">
  <hr>
  <span itemscope itemtype="http://schema.org/Person">
    <link itemprop="url" href="{{ .Site.BaseURL }}">
    <span itemprop="name">{{- .Site.Params.author.name | lower -}}, </span>

    {{ if isset .Site.Params "work" -}}
    <span itemprop="jobTitle">{{- .Site.Params.work.jobTitle | lower -}}</span> at
    <span itemprop="memberOf" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" target="_blank"
      rel="noopener noreferrer"  
      href="{{ .Site.Params.work.companyUrl }}"><span itemprop="name">
          {{- .Site.Params.work.company | lower -}}
        </span></a></span>
    {{- end -}}

    <br>

    {{ if isset .Site.Params "twitterusername" -}}
    <a itemprop="sameAs" href="https://twitter.com/{{ .Site.Params.twitterUsername }}" target="_blank"
      rel="noopener noreferrer"  
      title="Twitter">twitter</a>
    {{- end}}

    {{ if isset .Site.Params "gpg" -}}
    <a itemprop="sameAs" href="{{ .Site.Params.gpg.link }}" target="_blank"
      rel="noopener noreferrer"  
      title="GPG {{ .Site.Params.gpg.key }} (fingerprint: {{ .Site.Params.gpg.fingerprint }})">gpg</a>
    {{- end }}

    {{ if isset .Site.Params "resume" -}}
    <a itemprop="sameAs" href="{{ .Site.Params.resume | absURL }}" target="_blank" 
    rel="noopener noreferrer"  
    title="Resume">resume</a>
    {{- end }}
  </span>

</footer>
</div>

{{ if .Params.toc -}}
  {{ $js := resources.Get "js/sidebar.js" }}
  {{ $script := $js | resources.Minify }}
  <script src="{{ $script.RelPermalink }}"></script>
{{- end }}

{{ $p5 := resources.Get "js/p5.js" }}
{{ $script := $p5 | resources.Minify }}
<script src="{{ $script.RelPermalink }}"></script>

{{ $linkColors := resources.Get "js/link-colors.js" }}
{{ $linkColorsScript := $linkColors | resources.Minify }}
<script src="{{ $linkColorsScript.RelPermalink }}"></script>

{{ $sidenotes := resources.Get "js/sidenotes.js" }}
{{ $sidenotesScript := $sidenotes | resources.Minify }}
<script src="{{ $sidenotesScript.RelPermalink }}"></script>

{{ $themeToggle := resources.Get "js/theme-toggle.js" }}
{{ $themeToggleScript := $themeToggle | resources.Minify }}
<script src="{{ $themeToggleScript.RelPermalink }}"></script>

</body>

{{ if (isset .Params "katex" ) -}}
  {{ partial "katex.html" . }}
{{- end }}

{{ if (eq .RelPermalink "/resume/") -}}
  {{ $js := resources.Get "js/gh.js" }}
  {{ $script := $js }}
  <script src="{{ $script.RelPermalink }}"></script>
{{- end }}

</html>