{{ partial "top.html" . }}

  <article class="posts">

    {{ range  site.Sections -}}
      {{ if and (ne .Section "resume") (gt (len .Pages) 0) -}}
      <section>

        <h2 id="{{ .Section }}">{{ .Section }}</h2>
        
        {{ range .Pages.GroupByDate "2006" -}}
          <h5 class="year-divider"> {{ .Key }}</h5>
          <div class="list-container">
            {{ range .Pages -}}
            <div class="post-entry">
              <div class="post-entry-meta">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02" | lower }}</time>
                <div class="reading-time"> ~{{ .ReadingTime }} min</div>
              </div>
              <div class="post-entry-details">
                <a href="{{ with .Params.link }}{{ . }}{{ else }}{{ .RelPermalink }}{{ end }}"{{ with .Params.link }} target="_blank" rel="noreferrer noopener"{{ end }}>
                  {{ if ne .Params.image nil -}}
                  <img src ="{{ .Params.image }}"/>
                  {{- end }}
                  <div class="post-title">
                    {{ .Title | lower }}{{ with .Params.link }} <span class="post-external">&#8599;</span>{{ end }}
                  </div>
                  <div class="post-excerpt">
                    {{ cond (ne .Params.excerpt nil) .Params.excerpt .Params.description | markdownify }}
                  </div>
                </a>
              </div>
            </div>
            {{- end }}
          </div>
        {{- end}}
        
      </section>
      {{- end }}

    {{- end }}

  </article>

{{ partial "bottom.html" . }}
